# Metamask test wallet private key
PRIVATE_KEY=02fa46f87803b13939bd45dc935bf66aef4a84bb7b12c7f5179f23ade5559250

# Blockchain network name
NETWORK_NAME=Polygon

# RPC url
RPC_URL=https://rpc.ankr.com/polygon_mumbai

# Chain id
CHAIN_ID=80001

# Blockcain explorer url
BLOCK_EXPLORER=https://mumbai.polygonscan.com

# Currency symbol
SYMBOL=MATIC

# Alchemy test account api key
ALCHEMY_API_KEY=L-g-DDMjYX0_spg5G-YVzhUtd62in0oz